//COLORS
$white: #fff;
$black: #000;
$brand-color: #18ECC0;
$text-color: #666666;
$background: #FAFAFA;

//NAVIGATION
.site-header {
    background: $white;
    .container {
        height: 100px;
    }
}